<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    Items @Html.ActionLink("Need", "Index", "Home") @Html.ActionLink("All", "Index", "Home", new { showAll = true }, null)
            @Html.ActionLink("Add", "AddItem", "Home")<br />

    Store @Html.ActionLink("Add", "AddStore", "Home")  @Html.ActionLink("All", "ListStores", "Home")

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)



</body>
</html>
